@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap');

#file-explorer{
    background-color:#1b1b1b ;
    height: calc(100vh - 56px);
    width: 240px;
    flex: 240px 0 0;
}

#file-explorer li{
    background-color: transparent;
}

#file-explorer li:hover{
    cursor: pointer;
}

#file-explorer li:hover .la-times{
   display: inline;
}

#file-explorer li.active{
    background-color: #000;
    border:0;
}

.la-times{
    display: none;
    margin-top: 3px;
}

.la-file-medical{
    font-size: 24px;
}

.la-file-medical:hover{
    cursor: pointer;
}

/*  */

input{
    font-size: 13px !important;
    padding-left: 4px !important;
    color: #fff !important;
}

input:active, input:focus{
    box-shadow: none !important;
    outline: none;
}

/*  */
#editor{
    /* width: 100%; */
    width: calc(100vw - 240px);
    max-height: calc(100vh - 56px - 35px);
    height: calc(100vh - 56px - 35px);
    overflow: hidden;
}

.CodeMirror.cm-s-material-darker{
    height: 100%;
}

.CodeMirror * {
    font-family: 'Fira Code', monospace;
    font-size: 13px;
}

/*  */
.nav{
    background-color: #21252b;
}
.nav-link{
    font-size: 13px;
    color: #e3e3e3 !important;
    background-color: #21252b;
    border-right: 1px solid #000;
}

.nav-link.active{
    font-size: 13px;
    color: #fff !important;
    background-color: #212121;
    border-right: 1px solid #000;
}

.form-check-input{
    margin-top: 5px;
}

.nav{
    min-height: 35px;
}


*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
    width: 10px;
    height: 0px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}
