@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap");

html {
  overflow: hidden;
}

#file-explorer {
  background-color: #090b10;
  height: calc(100vh - 56px - 21px);
  width: 240px;
  flex: 240px 0 0;
}

#file-explorer li {
  background-color: transparent;
}

#file-explorer li:hover {
  cursor: pointer;
}

#file-explorer li:hover .la-times {
  display: inline;
}

#file-explorer li.active {
  background-color: #000;
  color: #76cbc4;
  border: 0;
}

.la-times {
  display: none;
  margin-top: 3px;
}

.la-file-medical,
.la-file-upload {
  font-size: 24px;
}

.la-file-medical:hover,
.la-file-upload:hover {
  cursor: pointer;
}

/*  */

input {
  font-size: 13px !important;
  padding-left: 4px !important;
  color: #fff !important;
}

input:active,
input:focus {
  box-shadow: none !important;
  outline: none;
}

/*  */
#editor {
  /* width: 100%; */
  width: calc(100vw - 240px);
  max-height: calc(100vh - 56px - 35px - 21px);
  height: calc(100vh - 56px - 58px);
  overflow: hidden;
}

.CodeMirror.cm-s-material-darker {
  height: 100%;
}

.CodeMirror.cm-s-dracula {
  height: 100%;
}

.CodeMirror.cm-s-material-palenight {
  height: 100%;
}

.CodeMirror.cm-s-material-ocean {
  height: 100%;
}

.CodeMirror * {
  font-family: "Fira Code", monospace;
  font-size: 13px;
}

/*  */
.nav {
  background-color: #21252b;
  width: 2048px;
}
.nav-link {
  font-size: 13px;
  color: #e3e3e3 !important;
  background-color: #21252b;
  border-right: 1px solid #000;
}

.nav-link.active {
  font-size: 13px;
  color: #fff !important;
  background-color: #212121;
  border-right: 1px solid #000;
  border-bottom: 2px solid #76cbc4;
}

.form-check-input {
  margin-top: 5px;
}

.nav {
  min-height: 35px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 0px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  background-color: #0ae;

  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}

#status {
  font-size: 16px;
}

#status button {
  box-shadow: none;
}

.dropdown-menu li:hover,
.dropdown-menu li:focus,
.dropdown-menu li:active {
  background-color: #000;
}

.dropdown-menu li a:hover,
.dropdown-menu li a:focus,
.dropdown-menu li a:active {
  background-color: #000;
  color: #dc3545;
}

input[type="file"] {
  position: absolute;
  z-index: 1;
  opacity: 0;
  margin-left: 80px;
  width: 24px;
}

input[type="file"]:hover {
  cursor: pointer;
}

.filename {
  max-width: 170px;
  width: 170px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Loading */
.lds-spinner {
  color: official;
  display: inline-block;
  position: absolute;
  left: 170px;
  top: 11px;
}
.lds-spinner div {
  transform-origin: 38px 18px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 3px;
  height: 8px;
  border-radius: 200px;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
